.review-item{
    display: flex;
    border: 1px solid #95A0A7;
    width: 571px;
    margin: 0 auto;
    padding: 8px;
}
.review-details-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 17px;
}
.review-item img{
    width: 91px;
}
.review-details p{
    margin: 0;
}

/* delete icon styles */
.btn-delete{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 0;
    background-color: rgba(235, 87, 87, 0.3);
}
.delete-icon{
    color: #EB5757;
    font-size: 31px;
}